- content_for :title, "AFDC Leagues"
= render :partial => '/pageheader', :locals => {subtitle: 'Team Profile', breadcrumbs: {'Leagues' => leagues_path, @team.league.name => league_path(@team.league), @team.name => nil}}


.row{style: 'margin-bottom: 25px'}
	.span4
		#profile-pic.row{style: 'text-align: center; margin-bottom: 10px'}
			=image_tag @team.avatar.url(:profile), class: 'img-polaroid img-rounded', style: 'max-width: 330px; height: auto;'
			- permitted_to? :edit_avatar, @team do
				%p Change Pic
				/ %p= link_to 'Change Profile Pic', edit_avatar_team_path(@team)
		#captains.row
			.span1{style: 'font-weight: bold;'} Captains:
			.span3
				- if @team.captains?
					- @team.captains.each do |captain|
						= link_to "#{captain.firstname} #{captain.lastname}", captain
						%br
				- else
					None listed
		#reporters.row
			.span1{style: 'font-weight: bold;'} Reporters:
			.span3
				- if @team.reporters?
					- @team.reporters.each do |reporter|
						= link_to "#{reporter.firstname} #{reporter.lastname}", reporter
						%br
				- else
					None listed
		- if @team.stats
			- stats = @team.stats
			.row{style:'border-top: 1px solid #f0f0f0'}
				.span1{style: 'font-weight: bold'} Rank:
				.span3= @team.formatted_rank
			.row
				.span1{style: 'font-weight: bold'} Record:
				- if @team.winning_percentage
					.span3= "#{@team.record} (#{formatted_winning_percentage(@team.winning_percentage)})"
				- else
					.span3 n/a
			.row
				.span1{style: 'font-weight: bold'} Pt. Diff.:
				.span3= formatted_point_diff(@team.point_diff)
		- else
			.row
				.span4
					.alert.alert-warning Statistics not yet available
		- permitted_to? :edit, @team do
			#edit.row{style: 'text-align: center; margin-top: 10px;'}
				.span4
					= link_to edit_team_path(@team), class: 'btn btn-small btn-warning' do
						%i.icon-cog
						Edit Team Settings


	.span8#team-data{'data-team-id' => @team._id}
		%h3= @team.name
		%ul.nav.nav-tabs#profile-tabs
			%li= link_to 'Schedule', '#schedule', 'data-toggle' => 'tab'
			%li= link_to 'Roster', '#roster', 'data-toggle' => 'tab'

		.tab-content
			.tab-pane#schedule
				%table.table.table-striped.table-condensed
					%thead
						%tr
							%th Opponent
							%th Date / Time
							%th Location
							%th{colspan: 2} Results
					%tbody
						- opponent_data = {}
						- @team.games.order_by(game_time: 1).each do |game|
							- opponent = game.opponent_for(@team)
							- unless opponent
								%tr{'id' => game._id}
									%td{colspan: 4}
										No opponent listed
										%span.hide= "Game ID: #{game._id}"
								- next
							- opponent_data[opponent._id] = { name: opponent.name, rank: opponent.formatted_rank, avatar: opponent.avatar.url(:roster) }
							%tr{'data-opponent-id' => opponent._id, 'id' => game._id}
								%td= link_to opponent.name, opponent, title: opponent.name, class: 'team', "data-team_id" => opponent._id
								%td= game.game_time.strftime("%b %e, %Y %l:%M %P")
								%td= link_to "#{game.field_site.name} (#{game.field})", field_path(game.field_site)

								- if game.scores
									- if game.scores['rainout']
										- td_class = 'rainout-score'
										- icon_class = 'icon-cloud'
										- score = 'Rainout'
									- elsif game.scores['forfeit']
										- td_class = (game.winning_team == @team ? 'winning-score' : 'forfeit-score')
										- icon_class = 'icon-frown'
										- score = 'Forfeit'
									- else
										- td_class = (game.winning_team == @team ? 'winning-score' : 'losing-score') if game.winner
										- score = "#{game.score_for(@team)}-#{game.score_for(opponent)}"
								- else
									- score = '-'

								%td{class: "results " + td_class.to_s}
									- if game.game_time <= Time.zone.now && permitted_to?(:edit_score, game)
										=link_to edit_score_game_path(game), style: "color: inherit;", 'data-game_id' => game._id, class: 'report-score' do
											%i.icon-pencil
									%i.result-icon{class: icon_class}
									%span.score
										= score

			.tab-pane#roster
				- if permitted_to? :view_roster, @team
					.row
						- @team.players.each do |player|
							.span2{style: 'margin-bottom: 10px;'}
								= link_to player do
									= image_tag player.avatar.url(:roster), class: 'img-polaroid', style: 'width: 160px; height: auto;'
									%div
										="#{player.firstname} #{player.lastname}"
										%br
										%small= player.email_address
				- else
					.alert.alert-info For privacy, league rosters are restricted to AFDC members only. Please log-in to view them.


#score_reporter.modal.hide.fade
	.modal-header
		%button.close{type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'} &times;
		%h3 Report a Game Score
	.modal-body

- content_for :page_scripts do
	:javascript
		$(function() {
			$('body').on('hidden', '.modal', function () {
				$(this).removeData('modal');
			});

			$("a.report-score").on('click', function(e){
				e.preventDefault();

				var modalDiv = $("#score_reporter");
				$("#score_reporter .modal-body").html('<div style="text-align: center"><img src="/images/loader.gif" /></div>');

				modalDiv.modal({remote: this.href});
			});

			$("#score_reporter").on('submit', 'form', function(e){
				e.preventDefault();

				var form = $(this);
				var submit_button = $('button', this);
				var target = form.attr('action');
				var team_id = $("#team-data").data('team-id');

				submit_button.html('Submitting result...');
				submit_button.addClass('disabled');
				submit_button.attr('disabled', true);

				var xhr = $.ajax({
					type: 'POST',
					url: target,
					data: form.serialize(),
					dataType: 'json'
				}).done(function(data) {
					if (data.rainout) {
						$("#" + data.game_id + " .results").attr('class', 'results rainout-score');
						$("#" + data.game_id + " .results i.result-icon").attr('class', 'result-icon icon icon-cloud');
						$("#" + data.game_id + " .results .score").html('Rainout');
					} else if (data.forfeit) {
						var score_class = 'forfeit-score';
						if (data.winner == team_id) { score_class = 'winning-score'; }

						$("#" + data.game_id + " .results").attr('class', 'results ' + score_class);
						$("#" + data.game_id + " .results i.result-icon").attr('class', 'result-icon icon icon-frown');
						$("#" + data.game_id + " .results .score").html('Forfeit');
					} else {
						var opponent_id = data.team_ids.filter(function(this_id) {
							return team_id != this_id;
						})[0];

						var score_class = 'tie-score';
						if (data.winner == team_id) {
							score_class = 'winning-score';
						}  else if (data.winner == opponent_id) {
							score_class = 'losing-score';
						}

						$("#" + data.game_id + " .results").attr('class', 'results ' + score_class);

						$("#" + data.game_id + " .results i.result-icon").attr('class', 'result-icon');

						var team_score = '';
						var opponent_score = '';
						if (opponent_id) {
							team_score = data[team_id];
							opponent_score = data[opponent_id];
						}

						$("#" + data.game_id + " .results .score").html(team_score + '-' + opponent_score);
					}

					$('#score_reporter').modal('hide');
				}).fail(function(data){
					$('#score_reporter .modal-body').html('<div class="alert alert-error">There was an error updating this score, please contact the webmaster.<div>');
					console.log("There was an error updating that score...");
					console.log(data)
				});
			});
		});

		$(function() {
			var opponent_data = #{opponent_data.to_json}
			// Tabs
			$('#profile-tabs a').click(function (e) {
				$(this).tab('show');
			});

			if (window.location.hash) {
				tab_identifier = '#profile-tabs a[href="' + window.location.hash + '"]'
				if ($(tab_identifier)) {
					$(tab_identifier).tab('show');
				}
			} else {
				$('#profile-tabs a:first').tab('show');
			}

			// Team Popovers on Schedule
			$('.team').popover({
				trigger: 'hover',
				placement: 'left',
				content: function() {
					opponent = opponent_data[$(this).data('team_id')];
					img_html = '<div style="text-align: center; margin: 10px 0;"><img src="' + opponent['avatar'] + '" class="img-polaroid img-rounded" style="max-width: 160px; height: auto;" /></div>';
					data_html = '<ul class="unstyled">';
					data_html += '<li><strong>Rank:</strong> ' + opponent['rank'] + '</li>';
					data_html += '<li><strong>Record:</strong> ' + opponent['record'] + '</li>';
					data_html += '</ul>';

					return img_html + data_html;
				}
			});
		});
