%h3{style: 'margin-bottom: 0'}=link_to @team.league.name, league_path(@team.league)
.row#team-data{'data-team-id' => @team._id}
	.span3
		#profile-pic.row{style: 'text-align: center;'}
			=image_tag @team.avatar.url(:profile), class: 'img-rounded', style: 'max-width: 250px; height: auto; max-height: 330px;'
			- permitted_to? :edit_avatar, @team do
				%p Change Pic
	.span9
		.page-header
			%h1
				=@team.name
				- if @team.games_played > 0
					%small (#{@team.record}, Ranked #{@team.formatted_rank})

		- if @team.captains?
			.captains
				%span{style: 'font-weight: bold'} Team Captains: 
				- cl = []
				- @team.captains.each do |captain|
					- cl << link_to("#{captain.firstname} #{captain.lastname}", captain)
				=raw(cl.join(', '))
		- if @team.reporters?
			.reporters
				%span{style: 'font-weight: bold'} Additional Score Reporters: 
				- cl = []
				- @team.reporters.each do |r|
					- cl << link_to("#{r.firstname} #{r.lastname}", r)
				=raw(cl.join(', '))
		- if permitted_to?(:edit, @team)
			.edit{style: 'margin-top: 25px;'}
				=link_to 'Edit Team', edit_team_path(@team), class: 'btn btn-primary'
%hr
.row
	.span8
		%h3 Schedule
		%table.table.table-striped.table-condensed
			%thead
				%tr
					%th When
					%th Teams
					%th{colspan: 2} Score
					- if @team.league.track_spirit_scores?
						%th{colspan: 2} Spirit
					%th Location
			%tbody
				- opponent_data = {}
				- @team.games.order_by(game_time: 1).each do |game|
					- opponent = game.opponent_for(@team)
					- unless opponent
						%tr{'id' => game._id}
							%td{colspan: 4}
								No opponent listed
								%span.hide= "Game ID: #{game._id}"
						- next
					- opponent_data[opponent._id] = { name: opponent.name, rank: opponent.formatted_rank, avatar: opponent.avatar.url(:roster) }
					%tr{'data-opponent-id' => opponent._id, 'id' => game._id}
						%td
							=game.game_time.strftime("%b %e")
							%br
							=game.game_time.strftime("%l:%M %P")
						%td
							%span.muted #{@team.name} vs
								
							%br
							=link_to opponent.name, opponent, title: opponent.name, class: 'team', "data-team_id" => opponent._id
						- if game.scores
							- if game.scores['rainout']
								- td_class = 'rainout-score'
								- colspan = 3
								- skip_spirit = true
								- icon_class = 'icon-cloud'
								- score = 'Rainout'
							- elsif game.scores['forfeit']
								- td_class = (game.winning_team == @team ? 'winning-score' : 'forfeit-score')
								- colspan = 3
								- skip_spirit = true
								- icon_class = 'icon-frown'
								- score = 'Forfeit'
							- else
								- td_class = (game.winning_team == @team ? 'winning-score' : 'losing-score') if game.winner
								- score = "#{game.score_for(@team)} <br /> #{game.score_for(opponent)}"
								- colspan = 1
								- skip_spirit = false
						- else
							- score = '-'

						%td{style: 'width: 30px;', class: "results " + td_class.to_s, colspan: colspan}
							%i.result-icon{class: icon_class}
							%span.score
								=raw(score)
						%td{style: 'width: 15px;', class: "results " + td_class.to_s}
							- if game.game_time <= Time.zone.now && permitted_to?(:edit_score, game)
								=link_to edit_score_game_path(game), style: "color: inherit;", 'data-game_id' => game._id, class: 'report-score' do
									%i.icon-pencil
							- else
								=raw("&nbsp;")
						- user_on_this_team  = (current_user && @team.players.include?(current_user))
						- user_on_other_team = (current_user && opponent.players.include?(current_user)) 
						- if @team.league.track_spirit_scores? and !skip_spirit
							- if @team.league.display_spirit_scores || user_on_this_team || permitted_to?(:manage_spirit, @team.league)
								%td{style: 'width: 30px;'}
									- sr = game.spirit_report_for(@team)
									- if sr
										- if game.spirit_reporting_complete? || user_on_other_team || permitted_to?(:manage_spirit, @team.league)
											=link_to sr.composite.round(2), spirit_report_path(sr)
										- else
											?.??
									- else 
										\-
									%br
									- sr = game.spirit_report_for(opponent)
									- if sr
										- if game.spirit_reporting_complete? || user_on_this_team || permitted_to?(:manage_spirit, @team.league)
											=link_to sr.composite.round(2), spirit_report_path(sr)
										- else
											?.??
									- else 
										\-
								%td{style: 'width: 15px;'}
									- if game.game_time <= Time.zone.now 
										- if permitted_to?(:report_score, opponent)
											=link_to new_spirit_report_path(game_id: game.id, team_id: @team.id), style: "color: inherit;" do
												%i.icon-pencil
										- else 
											!= "&nbsp;"
										%br
										- if permitted_to?(:report_score, @team)
											=link_to new_spirit_report_path(game_id: game.id, team_id: opponent.id), style: "color: inherit;" do
												%i.icon-pencil
										- else
											!= "&nbsp;"
									- else
										=raw("&nbsp;")
							- else
								%td{style: 'width: 45px', colspan: 2}
									n/a
									%br
									n/a

						%td= link_to "#{game.field_site.name} (#{game.field})", field_path(game.field_site)
	.span4
		%h3 Roster
		- if permitted_to? :view_roster, @team
			%table.table.table-striped.table-condensed
				%thead
					%tr
						%th Pic
						%th Player
						%th Rank
				%tbody
					- user_data = []
					- @team.players.each do |player|
						- reg = @team.league.registration_for(player)
						- user_data << { user: player, reg: reg }
					- user_data.sort_by{|ud| [ud[:user].gender, -(ud[:reg].try(:rank) || 0)]}.each do |ud|
						- player = ud[:user]
						- reg    = ud[:reg]
						%tr
							%td{width: '45px'}=image_tag player.avatar.url(:thumbnail), class: 'img-polaroid', style: 'width: 32px; height: 32px'
							%td
								=link_to player.name, player
								- if reg.try(:cored?)
									.label.label-success cored
								%br
								%span.muted=player.email_address
							%td
								%span{class: "#{player.gender} label"}=player.gender.capitalize
								%br
								=reg.try(:rank)

		- else
			.alert.alert-info For privacy, league rosters are restricted to AFDC members only. Please log-in to view them.

#score_reporter.modal.hide.fade
	.modal-header
		%button.close{type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'} &times;
		%h3 Report a Game Score
	.modal-body


- content_for :page_scripts do
	:javascript
		$(function() {
			$('body').on('hidden', '.modal', function () {
				$(this).removeData('modal');
			});

			$("a.report-score").on('click', function(e){
				e.preventDefault();

				var modalDiv = $("#score_reporter");
				$("#score_reporter .modal-body").html('<div style="text-align: center"><img src="/images/loader.gif" /></div>');

				modalDiv.modal({remote: this.href});
			});

			$("#score_reporter").on('submit', 'form', function(e){
				e.preventDefault();

				var form = $(this);
				var submit_button = $('button', this);
				var target = form.attr('action');
				var team_id = $("#team-data").data('team-id');

				submit_button.html('Submitting result...');
				submit_button.addClass('disabled');
				submit_button.attr('disabled', true);

				var xhr = $.ajax({
					type: 'POST',
					url: target,
					data: form.serialize(),
					dataType: 'json'
				}).done(function(data) {
					if (data.rainout) {
						$("#" + data.game_id + " .results").attr('class', 'results rainout-score');
						$("#" + data.game_id + " .results i.result-icon").attr('class', 'result-icon icon icon-cloud');
						$("#" + data.game_id + " .results .score").html('Rainout');
					} else if (data.forfeit) {
						var score_class = 'forfeit-score';
						if (data.winner == team_id) { score_class = 'winning-score'; }

						$("#" + data.game_id + " .results").attr('class', 'results ' + score_class);
						$("#" + data.game_id + " .results i.result-icon").attr('class', 'result-icon icon icon-frown');
						$("#" + data.game_id + " .results .score").html('Forfeit');
					} else {
						var opponent_id = data.team_ids.filter(function(this_id) {
							return team_id != this_id;
						})[0];

						var score_class = 'tie-score';
						if (data.winner == team_id) {
							score_class = 'winning-score';
						}  else if (data.winner == opponent_id) {
							score_class = 'losing-score';
						}

						$("#" + data.game_id + " .results").attr('class', 'results ' + score_class);

						$("#" + data.game_id + " .results i.result-icon").attr('class', 'result-icon');

						var team_score = '';
						var opponent_score = '';
						if (opponent_id) {
							team_score = data[team_id];
							opponent_score = data[opponent_id];
						}

						$("#" + data.game_id + " .results .score").html(team_score + '<br />' + opponent_score);
					}

					$('#score_reporter').modal('hide');
				}).fail(function(data){
					$('#score_reporter .modal-body').html('<div class="alert alert-error">There was an error updating this score, please contact help@afdc.com.<div>');
					console.log("There was an error updating that score...");
					console.log(data)
				});
			});
		});
