
%h2 Audit Logs
%table.table.table-striped
    %thead
        %tr
            %th Timestamp
            %th Acting User
            %th Action
            %th Target
    %tbody
        - @logs.each do |log|
            %tr
                %td=log.created_at.strftime('%a, %b %e, %Y; %l:%M %P')
                %td
                    - if log.acting_user
                        =link_to(log.acting_user.name, log.acting_user)
                    - else
                        n/a
                %td=log.action
                %td
                    - if log.league
                        League:
                        = link_to("#{log.league.name}", log.league)
                        %br
                    - if log.registration
                        = link_to("Registration for #{log.registration.user.name}", log.registration)
                        %br
                    - if log.user
                        %i= link_to("#{log.user.name}", log.user)

