- content_for :title, "Atlanta Flying Disc Club"
= render :partial => '/pageheader', :locals => {subtitle: 'League Management System'}
- if (@league_games.count + @your_games.count) > 0
    .row
        .col-md-8
            = render 'games'
        .col-md-4
            = render 'leagues'
            %hr
            = render 'sponsors'
- else
    .row
        .col-md-4
            = render 'tutorials'
        .col-md-4
            = render 'leagues'
        .col-md-4
            = render 'sponsors'