- content_for :title, 'Leagues'
= render :partial => '/pageheader'

- if permitted_to? :create, :leagues
    %div{style: 'text-align: right'}
        = link_to new_league_path, class: 'btn btn-small btn-primary' do
            %i.icon.icon-plus
            Create a League
= render :partial => 'league_table', locals: {title: 'Current', leagues: League.not_ended }


- if League.ended.count > 0
    %h3= 'Past'

    %table.table.table-striped
        %thead
            %tr
                %th{width: '40%'} League Name
                %th Overall Champion
                %th Midseason Champions
                %th End of Season Champions

        %tbody
            - League.ended.each do |l|
                %tr
                    %td=link_to l.name, league_path(l)
                    - if l.teams.count != 0
                        %td=link_to l.teams.first.name, team_path(l.teams.first)
                    - else
                        %td= 'N/A'
                    
                    - if l.mst_tourney && l.mst_champion
                        %td= link_to l.mst_champion.name, team_path(l.mst_champion)
                    - else 
                        %td= 'N/A'
                    
                    - if l.eos_tourney && l.eos_champion
                        %td= link_to l.eos_champion.name, team_path(l.eos_champion)  
                    - else
                        %td= 'N/A'
