- content_for :title, 'Leagues'
= render :partial => '/pageheader'

- if permitted_to? :create, :leagues
    %div{style: 'text-align: right'}
        = link_to new_league_path, class: 'btn btn-small btn-primary' do
            %i.icon.icon-plus
            Create a League
/ = render :partial => 'league_table', locals: {title: 'Upcoming', leagues: League.future }
/ = render :partial => 'league_table', locals: {title: 'Current', leagues: League.current }
/= render :partial => 'league_table', locals: {title: 'Past', leagues: League.past }
    
- if League.future.count > 0
    %h3= 'Upcoming'

    %table.table.table-striped
        %thead
            %tr
                %th{width: '40%'} League Name
                %th Registration Opens
                %th Registration Ends
                %th Play Begins

        %tbody
            - League.future.each do |l|
                %tr
                    %td=link_to l.name, league_path(l)
                    %td
                        - if l.registration_open?
                            =link_to 'Register Now', register_league_path(l)
                        - else
                            =l.registration_open.strftime('%a %b %-d, %Y') if l.registration_open
                    %td=l.registration_close.strftime('%a %b %-d, %Y') if l.registration_close
                    %td=l.start_date.strftime('%a %b %-d, %Y') if l.start_date

    
- if League.current.count > 0
    %h3= 'Current'

    %table.table.table-striped
        %thead
            %tr
                %th{width: '40%'} League Name
                %th Current Regular Season Champions
                %th Midseason Champions
                %th End of Season Champions

        %tbody
            - League.current.each do |l|
                %tr
                    %td=link_to l.name, league_path(l)
                    - if l.teams.count != 0
                        %td=link_to l.teams.first.name, team_path(l.teams.first)
                    - else
                        %td= 'N/A'
                    
                    - if l.mst_tourney
                        - if l.mst_champion == nil
                            %td= 'N/A'
                        - else
                            %td= link_to l.mst_champion.name, team_path(l.mst_champion)
                    - else 
                        %td= 'N/A'
                    
                    - if l.eos_tourney
                        - if l.eos_champion == nil
                            %td= 'N/A'
                        - else
                            %td= link_to l.eos_champion.name, team_path(l.eos_champion)  
                    - else 
                        %td= 'N/A'



- if League.past.count > 0
    %h3= 'Past'

    %table.table.table-striped
        %thead
            %tr
                %th{width: '40%'} League Name
                %th Overall Champion
                %th Midseason Champions
                %th End of Season Champions

        %tbody
            - League.past.each do |l|
                %tr
                    %td=link_to l.name, league_path(l)
                    - if l.teams.count != 0
                        %td=link_to l.teams.first.name, team_path(l.teams.first)
                    - else
                        %td= 'N/A'
                    
                    - if l.mst_tourney
                        - if l.mst_champion != nil
                            %td= link_to l.mst_champion.name, team_path(l.mst_champion)
                    - else 
                        %td= 'N/A'
                    
                    - if l.eos_tourney
                        - if l.eos_champion == nil
                            %td= 'N/A'
                        - else
                            %td= link_to l.eos_champion.name, team_path(l.eos_champion)  
                    - else 
                        %td= 'N/A'