%script#registrant-row-template{type: "text/x-underscore"}
  :plain
    <li class="registrant-row" id="<%=_id%>">
      <div class="pic"><img class="img-polaroid img-rounded" src="<%=thumbnail_img_url%>" style="max-width: 32px; height: auto;"></div>
      <div class="userdata">
          <div class="main col"><strong><span class="<%=gender%> label"><% print(gender[0].toUpperCase()); %></span> <%=name%></strong></div>
          <div class="col"><strong>Role:</strong> <%=player_type%></div>
          <div class="col"><strong>Rank:</strong> <%=rank%></div>
          <div class="col" style="width: 100px; text-align: right; text-transform: capitalize"><%
            if (pair_id) {
              print('<a href="#" class="show-player-details" data-user-id="' + pair_id + '"><i class="icon-link"></i> pair</a>');
            } else if (registration_group) {
              print('<a href="#" class="show-group-details" data-group-id="' + registration_group + '"><i class="icon-link"></i> ' + window.core_type + '</a>');
            }
          %></div>
          <div class="main col"><strong>Availability:</strong> <%=gen_availability%></div>
          <div class="col"><strong>Status:</strong> <%=status%></div>
          <div class="col">
            <% if (timestamps['signup']) { %>
              <span class="label"><i class="icon-usd"></i></span> <%=moment.unix(timestamps['signup']).format('MMM Do, h:mma')%>
            <% } else { %>
              <span class="label"><i class="icon-usd"></i></span> n/a
            <% } %>
          </div>
        </div>
      </div>
    </li>

%script#reg-group-detail-template{type: "text/x-underscore"}
  :plain
    <h4 style="text-transform: capitalize;"><%=window.core_type%> Members</h4>
    <ul>
    <%
      for (var i = 0; i < members.length; i++) {
        var uid = members[i];
        var reg_data = window.registrant_data[uid]
        if (reg_data) {
          print('<li><a href="#" class="show-player-details" data-user-id="' + uid + '">');
          print('<span class="' + reg_data.gender + ' label">' + reg_data.gender[0].toUpperCase() + '</span> ');
          print(reg_data.name);
          print('</a> (' + window.registrant_data[uid].rank + ')</li>');
        }
      }
    %>
    </ul>

%script#registrant-detail-template{type: "text/x-underscore"}
  :plain
    <h4><a href="<%=profile_url%>" target="_blank"><%=name%></a></h4>
    <img class="img-polaroid img-rounded" src="<%=profile_img_url%>" style="max-width: 160px; height: auto;">
    <ul class="unstyled">
      <li><strong>Registration</strong>: <%=status%></li>
      <li><strong>Rank:</strong> <%=rank%></li>
      <% if (grank.score) { %>
        <li class="details-grank"><strong>gRank</strong>: <%=grank.score%> <i class="icon-question-sign"></i></li>
      <% } %>
      <li><strong>Role:</strong> <%=player_type%></li>
      <li><strong>Gender:</strong> <%=gender%></li>
      <li><strong>Stats:</strong> <%=height%>, <%=age%> years old</li>
      <% if (pair_id) { %>
        <li><strong>Pair:</strong> <a href="#" class="show-player-details" data-user-id="<%=pair_id%>"><%= window.registrant_data[pair_id].name %></a></li>
      <% } %>
      <% if (registration_group) { %>
        <li><strong style="text-transform: capitalize"><%=window.core_type%>:</strong> <a href="#" class="show-group-details" data-group-id="<%=registration_group%>"><%= registration_group.substr(0,8) %></a></li>
      <% } %>
      <% } if (timestamps['pending']) { %>
        <li><strong>Reg:</strong> <%=moment.unix(timestamps['pending']).format('MMM Do, h:mm a')%></li>
      <% } %>
    </ul>
  - if permitted_to? :manage, @league
    = link_to "Edit Registration", edit_registration_path('PLACEHOLDER').gsub('PLACEHOLDER', '<%=registration_id%>').html_safe, class: 'btn btn-block btn-small btn-info'

%script#pair-invite-button{type: "text/x-underscore"}
  :plain
    <button class="btn btn-primary btn-small btn-block add-pair" data-user-id="<%=_id%>">Invite to Pair</button>

- content_for :page_styles do
  = stylesheet_link_tag('/stylesheets/cupertino/jquery-ui-1.10.4.custom.min.css')
  = stylesheet_link_tag('/stylesheets/registrant_browser.css')


- content_for :page_scripts do
  = javascript_include_tag('//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
  = javascript_include_tag('//code.jquery.com/ui/1.10.4/jquery-ui.js')
  = javascript_include_tag('//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js')
  = javascript_include_tag('/javascripts/registrant_browser.js')
  = javascript_include_tag('/javascripts/jquery-scrollto.js')
  = javascript_include_tag('/javascripts/jquery.sparkline.min.js')
  :javascript
    var core_type = #{@league.core_options.type ? "\"#{@league.core_options.type}\"" : 'null'};
    var league_locked = #{@league.started? ? 'true' : 'false'};
    var pairs_allowed = #{@league.allow_pairs? ? 'true' : 'false'};
    var current_user = #{@user_data.to_json};
    var pair_invite_path = "#{invite_pair_league_path(@league)}";
    var registrant_data_path = "#{registrations_league_path(@league, :json)}";
    var reg_groups_data_path = "#{league_registration_groups_path(@league, :json)}";

- content_for :title, @league.name
= render :partial => '/pageheader', :locals => {subtitle: 'Registrations', breadcrumbs: {'Leagues' => leagues_path, @league.name => league_path(@league), 'Registrations' => nil}}

.row
  .span3
    %h4
      %i.icon-collapse-top.collapser{"data-toggle" => "collapse", "data-target" => ".action-panel"}
      Actions
    .action-panel.collapse.in
      - if @league.started?
        %strong This league is now underway, no further changes may be made to your pairs, cores, or pods.
      - else
        - if @league.allow_pairs?
          #pair-control
            - if @reg_group
              %p You are currently assigned to a #{@league.core_options.type} and, therefore, cannot pair with anyone else.
              %p Please contact the league commissioner if you'd like to leave this #{@league.core_options.type}.
            - elsif @user_data[:pair_id]
              %p
                %strong Current Pair:
                = link_to @pair_reg.user.name, @pair_reg.user
                = link_to @pair_reg, class: "show-player-details", "data-user-id" => @pair_reg.user._id do
                  %i.icon-chevron-sign-right
              %p You may not pair with another person or join a pod or core while you are paired.

              = link_to "Leave this pair", leave_pair_league_path(@league), class: 'btn btn-block btn-small btn-warning'
            - elsif @user_data[:pair_invite_count] > 0
              %p You have sent an invite to pair with another person. Before you can send any more, you must first cancel the existing invite.
              %p
                Manage your current invitations
                = link_to "here.", invitations_path
            - else
              %p To pair with another player, select an active registraint on the right and click the "Invite to Pair" button.
        - else
          %strong Pairs are disabled for this league.
      %hr
    %h4
      %i.icon-collapse-top.collapser{"data-toggle" => "collapse", "data-target" => ".filter-form"}
      Filters and Sorting
    .filter-form.collapse.in
      %input.span3{id: 'search-text', type:'text', placeholder: 'Text Search'}
      %select.span3{id: 'gender'}
        %option{value: 'male'} Only Men
        %option{value: 'female'} Only Women
        %option{value: '', selected: true} Men & Women
      %select.span3{id: 'status'}
        %option{value: 'active'} Active
        %option{value: 'accepted'} Accepted
        %option{value: 'waitlisted'} Waitlisted
        %option{value: 'canceled'} Canceled
        %option{value: '', selected: true} All Statuses
      %select.span3{id: 'items-per-page'}
        %option{value: '10'} 10 Players Per Page
        %option{selected: true, value: '25'} 25 Players Per Page
        %option{value: '50'} 50 Players Per Page
        %option{value: '100'} 100 Players Per Page
      %label.checkbox
        %input#hide-unavailable{type: 'checkbox', value: 1} Hide Unavailable Players
      %div{style: 'padding: 10px;'}
        %div#rank-range
        %p{style: 'text-align: center;'}
          Show Ranks: <span id="rank_min">0</span>-<span id="rank_max">10</span>
      %select.span3{id: 'sort-field'}
        %option{value: ''} Sort By:
        %option{value: 'availability'} Availability (Desc.)
        %option{value: 'rank'} Rank (Desc.)
        %option{value: 'reg_time_asc'} Registration Time (Asc.)
        %option{value: 'reg_time_desc'} Registration Time (Desc.)
      %button.btn.btn-small.btn-block.btn-primary#apply-filters Apply Filters
      %button.btn.btn-small.btn-block.btn-info#clear-filters Clear Filters
      %hr


  .span7#listing-column
    .row
      .span3.page-count-info
      .span4
        .pagination.pagination-right.pagination-mini{style: "margin: 0;"}
          %ul
    .row
      .span7
        %ul.unstyled#registrants
    .row
      .span3.page-count-info
      .span4
        .pagination.pagination-right.pagination-mini{style: "margin: 0;"}
          %ul
  .span2#details-column
    %div.affix-top#player-details{"data-spy" => "affix", "data-offset-top" => "150"}

  .hide
    #no-results
      = render partial: '/no_results'
