:plain
  <script type="text/x-underscore" id="registrant-row-template">
    <li class="registrant-row" id="<%=_id%>">
      <div class="pic"><img class="img-polaroid img-rounded" src="<%=thumbnail_img_url%>" style="max-width: 32px; height: auto;"></div>
      <div class="userdata">
          <div class="main col"><strong><span class="<%=gender%> label"><% print(gender[0].toUpperCase()); %></span> <%=name%></strong></div>
          <div class="col"><strong>Status:</strong> <%=status%></div>
          <div class="col"><strong>Rank:</strong> <%=rank%></div>
          <div class="main col"><strong>Availability:</strong> <%=gen_availability%></div>
          <div class="col"><strong>Role:</strong> <%=player_type%></div>
        </div>
      </div>
    </li>
  </script>

  <script type="text/x-underscore" id="registrant-detail-template">
    <h4><a href="<%=profile_url%>" target="_blank"><%=name%></a></h4>
    <img class="img-polaroid img-rounded" src="<%=profile_img_url%>" style="max-width: 160px; height: auto;">
    <ul class="unstyled">
      <li><strong>Registration</strong>: <%=status%></li>
      <li><hr /></li>
      <li><strong>Rank:</strong> <%=rank%></li>
      <% if (grank.score) { %>
        <li class="details-grank"><strong>gRank</strong>: <%=grank.score%> <i class="icon-question-sign"></i></li>
      <% } %>
      <li><strong>Role:</strong> <%=player_type%></li>
      <li><strong>Gender:</strong> <%=gender%></li>
      <li><strong>Height:</strong> <%=height%></li>
      <li><strong>Age:</strong> <%=age%></li>
    </ul>
  </script>

- content_for :page_styles do
  = stylesheet_link_tag('/stylesheets/cupertino/jquery-ui-1.10.4.custom.min.css')
  = stylesheet_link_tag('/stylesheets/registrant_browser.css')


- content_for :page_scripts do
  = javascript_include_tag('//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
  = javascript_include_tag('//code.jquery.com/ui/1.10.4/jquery-ui.js')
  = javascript_include_tag('/javascripts/registrant_browser.js')
  = javascript_include_tag('/javascripts/jquery-scrollto.js')
  = javascript_include_tag('/javascripts/jquery.sparkline.min.js')
  :javascript
    var registrant_list = #{@registrant_ids.to_json};
    var filtered_registrant_list = registrant_list;
    var registrant_data = #{@registrant_data.to_json};
    var league_locked = #{@league.started? ? 'true' : 'false'};
    var pairs_allowed = #{@league.allow_pairs? ? 'true' : 'false'};

- content_for :title, @league.name
= render :partial => '/pageheader', :locals => {subtitle: 'Registrations', breadcrumbs: {'Leagues' => leagues_path, @league.name => league_path(@league), 'Registrations' => nil}}

.row
  .span3
    %h4
      %i.icon-collapse-top.collapser{"data-toggle" => "collapse", "data-target" => ".filter-form"}
      Filters
    .filter-form.collapse.in
      %input.span3{id: 'search-text', type:'text', placeholder: 'Text Search'}
      %select.span3{id: 'gender'}
        %option{value: 'male'} Only Men
        %option{value: 'female'} Only Women
        %option{value: '', selected: true} Men & Women
      %select.span3{id: 'status'}
        %option{value: 'active'} Active
        %option{value: 'authorized'} Authorized
        %option{value: 'pending'} Pending
        %option{value: 'canceled'} Canceled
        %option{value: '', selected: true} All Statuses
      %select.span3{id: 'items-per-page'}
        %option{value: '10'} 10 Players Per Page
        %option{selected: true, value: '25'} 25 Players Per Page
        %option{value: '50'} 50 Players Per Page
        %option{value: '100'} 100 Players Per Page
      %div{style: 'padding: 10px;'}
        %div#rank-range
        %p{style: 'text-align: center;'}
          Show Ranks: <span id="rank_min">0</span>-<span id="rank_max">10</span>

      %button.btn.btn-small.btn-block.btn-primary#apply-filters Apply Filters
      %button.btn.btn-small.btn-block.btn-info#clear-filters Clear Filters
      %hr

    %h4
      %i.icon-collapse-top.collapser{"data-toggle" => "collapse", "data-target" => ".sort-form"}
      Sorting
    .sort-form.collapse.in
      %select.span3{id: 'sort-field'}
        %option{value: ''} Sort By:
        %option{value: 'availability'} Availability (Desc.)
        %option{value: 'rank'} Rank (Desc.)
      %button.btn.btn-small.btn-block.btn-primary#do-sort Sort Results
      %hr
    %h4
      %i.icon-collapse.collapser{"data-toggle" => "collapse", "data-target" => ".action-panel"}
      Actions
    .action-panel.collapse
      - if @league.started?
        %strong This league is now underway, no further changes may be made to your pairs, cores, or pods.
      - else
        - if @league.allow_pairs?
          #pair-control
        - else
          %strong Pairs are disabled for this league.


  .span7#listing-column
    .pagination.pagination-centered.pagination-mini{style: "margin: 0;"}
      %ul
    %ul.unstyled#registrants
    .pagination.pagination-centered.pagination-mini{style: "margin: 0;"}
      %ul
  .span2
    %div.affix-top#player-details{"data-spy" => "affix", "data-offset-top" => "150"}

  .hide
    #no-results
      %div{style: 'text-align: center; margin-top: 20px;'}
        %div{style: 'font-size: 128px;'}
          %i.icon-remove-sign
        %div{style: 'font-weight: bold;'}
          No Results Found
