- content_for :title, @league.name
= render :partial => '/pageheader', :locals => {subtitle: 'League Details', breadcrumbs: {'Leagues' => leagues_path, @league.name => nil}}

- if @league.registration_open? && permitted_to?(:register, @league)
    - unless @registration
        .row
            .span12
                .alert.alert-info
                    %strong Registration for #{@league.name} is now open:
                    =link_to "Register Now!", register_league_path(@league), class: 'btn btn-warning btn-small'

.row
    .span5
        = render :partial => '/league_summary', :locals => {league: @league}
        - if permitted_to? :manage, @league
            %hr
            %h4 League Comps
            = render partial: 'comps', locals: {league: @league}

    .span7
        = render partial: 'navbar'

        - if @league.registration_open?
            %h4 Registration Details
            - %w(male female).each do |gender|
                - limit = @league["#{gender}_limit"]
                - next if limit == 0
                .row
                    .span2
                        %strong #{gender.capitalize} Limit:
                        #{limit || 'None'}
                    .span2
                        %strong Total Registered:
                        =Registration.where(league: @league, gender: gender).count
                    .span2
                        %strong Active or Authorized:
                        - active = Registration.where(league: @league, status: 'active', gender: gender).count
                        - authorized = Registration.where(league: @league, status: 'authorized', gender: gender).count
                        =authorized + active
                .row{style: 'margin-bottom: 30px'}
                    .span7
                        - if limit
                            - active_pct = [(active.to_f / limit.to_f), 0].max * 100
                            - auth_pct = [[limit-active,authorized].min.to_f / limit.to_f, 0].max * 100
                            .progress.progress-striped.active
                                .bar.bar-success{style: "width: #{number_to_percentage(active_pct)}"}
                                .bar.bar-warning{style: "width: #{number_to_percentage(auth_pct)}"}
            %hr

        %h4 Teams
        %table.table.table-striped.table-condensed
            %thead
                %th Rank
                %th Team
                %th Captains
                %th Record
                %th Pt. Diff.
            %tbody
                - @league.teams.each do |t|
                    - if current_user && current_user.teams.include?(t)
                        - row_style = 'background-color: #a7dff1;'
                    - else
                        - row_style = '';
                    %tr{style:  row_style}
                        %td=t.formatted_rank
                        %td=link_to t.name, team_path(t)
                        - if permitted_to? :show, :users
                            %td=raw t.captains.collect { |c| link_to c.name, user_path(c) }.join(', ')
                        - else
                            %td
                                %i.icon.icon-exclamation-sign.hasTooltip{title: 'Please log in to view captains.'}
                        - if t.games_played > 0
                            %td
                                = t.record
                                = "(" + formatted_winning_percentage(t.winning_percentage) + ")"
                            %td= formatted_point_diff(t.point_diff)
                        - else
                            %td{colspan: 2} Not Available
                - if @league.teams.count == 0
                    %tr
                        %td{colspan:5}= render partial: '/no_results', locals: {msg: 'This league has no teams yet.'}

= render :partial => '/game_schedule', :locals => {start_date: Date.today, league_id: @league._id, title: 'Upcoming Games'}
