- content_for :title, @league.name
= render :partial => '/pageheader', :locals => {subtitle: 'League Details', breadcrumbs: {'Leagues' => leagues_path, @league.name => nil}}

- if @league.registration_open_for?(current_user) && permitted_to?(:register, @league)
    - unless @registration
        .row
            .span12
                .alert.alert-info
                    %strong Registration for #{@league.name} is now open:
                    =link_to "Register Now!", register_league_path(@league), class: 'btn btn-warning btn-small'

.row
    .span5
        = render :partial => '/league_summary', :locals => {league: @league}
        - if permitted_to? :manage, @league
            %hr
            %h4 League Comps
            = render partial: 'comps', locals: {league: @league}

    .span7
        = render partial: 'navbar'

        - if @league.registration_open?
            %h4 Registration Details
            - %w(male female).each do |gender|
                - limit = @league["#{gender}_limit"]
                - next if limit == 0
                .row
                    .span2
                        %strong Active (#{gender.capitalize}):
                        =active = Registration.where(league: @league, status: 'active', gender: gender).count
                        ="/#{limit}" if limit
                    .span2
                        %strong Accepted: 
                        =accepted = Registration.where(league: @league, status: 'accepted', gender: gender).count
                    .span2
                        %strong Total Registered:
                        -pending =  Registration.where(league: @league, status: 'pending', gender: gender).count
                        =Registration.where(league: @league, gender: gender).count
                .row{style: 'margin-bottom: 30px'}
                    .span7
                        - if limit
                            - active_pct = [(active.to_f / limit.to_f), 0].max * 100
                            - accepted_pct = [(accepted.to_f / limit.to_f), 0].max * 100
                            - pending_pct = [(pending.to_f / limit.to_f), 0].max * 100
                            .progress.progress-striped.active
                                .bar.bar-success{style: "width: #{number_to_percentage(active_pct)}"}
                                .bar.bar-info{style: "width: #{number_to_percentage(accepted_pct)}"}
                                .bar.bar-warning{style: "width: #{number_to_percentage(pending_pct)}"}
            %hr

        %h4 Teams
        %table.table.table-striped.table-condensed
            %thead
                %th Rank
                %th Team
                %th Captains
                - if @league.track_spirit_scores
                    %th Spirit
                %th Record
                %th Pt. Diff.
            %tbody
                - @league.teams.each do |t|
                    - user_on_team = (current_user && current_user.teams.include?(t))
                    - if user_on_team
                        - row_style = 'background-color: #a7dff1;'
                    - else
                        - row_style = '';
                    %tr{style:  row_style}
                        %td=t.formatted_rank
                        %td=link_to t.name, team_path(t)
                        - if permitted_to? :show, :users
                            %td=raw t.captains.collect { |c| link_to c.name, user_path(c) }.join(', ')
                        - else
                            %td
                                %i.icon.icon-exclamation-sign.hasTooltip{title: 'Please log in to view captains.'}
                        - if t.games_played > 0
                            - if @league.track_spirit_scores
                                %td
                                    - if t.spirit_average && (@league.display_spirit_scores || user_on_team || permitted_to?(:manage_spirit, @league))
                                        =t.spirit_average.round(2)
                                    - else 
                                        n/a
                            %td
                                = t.record
                                = "(" + formatted_winning_percentage(t.winning_percentage) + ")"
                            %td= formatted_point_diff(t.point_diff)
                        - else
                            - if @league.track_spirit_scores
                                %td{colspan: 3} Not Available #{t.games_played}
                            - else
                                %td{colspan: 2} Not Available
                - if @league.teams.count == 0
                    %tr
                        %td{colspan:5}= render partial: '/no_results', locals: {msg: 'This league has no teams yet.'}

        - if @league.registration_open? == false && permitted_to?(:manage, @league) == true
            %h4 Players Invited to Register Early
            = form_tag(update_invites_league_path(@league), method: :post) do
                = render partial: '/user_multiselect', locals: {fieldname: 'invited_player_ids', label: "", users: @league.invited_players}
                - if @league.core_options.type.present?
                    %div
                        %em Note:
                        You can invite entire cores on the
                        =link_to "cores page.", league_registration_groups_path(@league)
                = submit_tag(value = "Update Invitation List", options = {class: "btn btn-primary"})

= render :partial => '/game_schedule', :locals => {start_date: Date.today, league_id: @league._id, title: 'Upcoming Games'}
