
.row#login-form
  .col-lg-offset-3.col-sm-6.col-md-6{style: 'margin: 50px 50px 50px 50px'}
    %h2 Site Login
    = form_tag login_path, method: 'POST', class: 'form-horizontal' do

      .form-group
        %label.control-label Email Address
        .form-controls
          = text_field_tag :email_address

      .form-group
        %label.control-label Password
        .form-controls
          = password_field_tag :password
          %span.help-block
            = link_to "Forget your password?", forgot_password_path
            .br
            = link_to "Don't have an account?", new_user_path
      .form-group
        .form-controls
        .checkbox
          %label.checkbox
            = check_box_tag :remember_me
            Remember Me

      .form-group
      .form-controls
        %button.btn.btn-primary Login Now


