
.row#login-form
    .span6.offset3{style: 'margin-top: 50px'}
        %h3 Site Login
        = form_tag login_path, method: 'POST', class: 'form-horizontal' do
            .control-group
                %label.control-label Email Address
                .controls
                    = text_field_tag :email_address

            .control-group
                %label.control-label Password
                .controls
                    = password_field_tag :password
                    %span.help-block
                        = link_to "Forget your password?", forgot_password_path
            .control-group
                .controls
                    %label.checkbox
                        = check_box_tag :remember_me
                        Remember Me

            .controls
                %button.btn.btn-primary Login Now
                = link_to "Register", new_user_path, class: 'btn btn-success'

