= bootstrap_form_for(@user, html: { class: 'form-horizontal' }, help: :block) do |f|
	= f.alert_message "Please fix the errors below."
	.row
		.span6
			%h3 Required Fields
			= f.select :gender, ['male', 'female'], prompt: true
			= f.text_field :firstname, label: "First name"
			= f.text_field :lastname, label: "Last name"
			= f.text_field :email_address
			= f.text_field :birthdate, "data-format" => "yyyy-MM-dd", append: '<i data-date-icon="icon-calendar" data-time-icon="icon-time"></i>'.html_safe, class: "global-datepicker"
			.help-block
				It's important that we have your correct birthdate on file for insurance reasons.
			%h3 Set your Password
			= f.password_field :password
			= f.password_field :password_confirmation, label: "Confirm Password"
			.control-group
				.controls
					%label.checkbox
						= check_box_tag :subscribe, 1, checked: true
						Keep Me Updated
		- unless @user.new_record?
			.span6
				%h3 Optional Fields
				= f.select :handedness, ['left', 'right', 'both'], prompt: true
				= f.text_field :middlename, label: "Middle name"
				= f.text_field :height, label: "Height (inches)"
				= f.text_field :weight, label: "Weight (pounds)"
				= f.text_area :address, rows: 2
				= f.text_field :city
				= f.text_field :state
				= f.text_field :postal_code
				- if permitted_to? :edit_permissions, @user
					%h3 Site Permissions
					.control-group
						.controls
							%label.checkbox
								= check_box_tag :perm_admin, 1, @user.role_symbols.include?(:admin)
								Full Admin
							%label.checkbox
								= check_box_tag :perm_steering_committee, 1, @user.role_symbols.include?(:"steering-committee")
								Steering Committee
							%label.checkbox
								= check_box_tag :perm_league_manager, 1, @user.role_symbols.include?(:"league-manager")
								League Manager
							%label.checkbox
								= check_box_tag :perm_covid_admin, 1, @user.role_symbols.include?(:"covid-admin")
								COVID Admin


	= f.actions do 
		- if @user.new_record?
			= f.primary "Create my Account"
		- else
			= f.primary "Update Account"
