- content_for :title, "AFDC Players"
= render :partial => '/pageheader', :locals => {:subtitle => 'Search'}

%div{class: 'clearfix'}
	%div{style: 'float: left'}
		- if permitted_to? :index, :comp_groups
			= link_to comp_groups_path, class: 'btn btn-info' do
				%i.icon.icon-group
				Manage Comp Groups
	%div{style: 'float: right;'}
		= form_tag users_path, :class => 'form-search', :method => 'GET' do
			= search_field_tag 'query', params[:query], :class => 'input-medium search-query'
			= button_tag 'Search', :name => nil, :type => 'submit', :class => "btn"

- if @user_list.count > 0
	%table.table.table-striped.table-condensed
		%thead
			%tr
				%th Name
				%th Matchup
				%th Email Address
				%th City
				%th State
				%th Postal Code
		%tbody
			- @user_list.each do |user|
				%tr{:style => 'text-transform: capitalize'}
					%td= link_to user.name, user
					%td= user.gender_noun
					%td{:style => 'text-transform: lowercase'}= user.email_address
					%td= user.city
					%td= user.state
					%td= user.postal_code
- elsif @user_list.is_a?(Array)
	%p{:style => 'text-align: center;'} Please enter a search term in the box above to search the AFDC's member directory.
- else
	.alert.alert-warning No results found for your search query.
