- content_for :title, @user.name
= render :partial => '/pageheader', :locals => {:subtitle => 'League Registrations'}

- if @registrations.count > 0
    %table.table.table-striped.table-condensed
        %thead
            %tr
                %th{:width => '15%'} ID
                %th League
                %th Price
                %th Signup Time
                %th Status
        %tbody
            - @registrations.each do |reg|
                - next if reg.league.nil?
                %tr{:style => 'text-transform: capitalize'}
                    %td
                        - if permitted_to? :show
                            = link_to reg._id, registration_path(reg)
                        - else
                            = reg._id
                    %td= link_to reg.league.name, league_path(reg.league)
                    %td= number_to_currency(reg.league.price)
                    %td= reg.signup_timestamp.to_formatted_s(:long)
                    %td
                        = reg.status
                        - if reg.status == 'pending'
                            = link_to checkout_registration_path(reg) do
                                %i.icon-shopping-cart{title: "Checkout with PayPal!"}
                        - if false && reg.status == 'cancelled'
                            = link_to cancel_registration_path(reg) do
                                %i.icon-remove-circle
- else
    %p{:style => 'text-align: center;'} This user has not registered for any leagues
