- content_for :title, "AFDC Players"
= render :partial => '/pageheader', :locals => {subtitle: 'User Profile'}

.row{style: 'margin-bottom: 25px'}
	.span4{style: 'text-align: center'}
		=image_tag @user.avatar.url(:profile), class: 'img-polaroid img-rounded', style: 'max-width: 330px; height: auto;'
		%hr
		- if permitted_to? :edit_avatar, @user
			= link_to 'Change Profile Pic', edit_avatar_user_path(@user), class: 'btn btn-block btn-small'
		- if permitted_to? :edit, @user
			=link_to 'Edit User Data', edit_user_path(@user), class: 'btn btn-block btn-small'
		- if permitted_to? :login_as, @user
			=link_to 'Login as this User', login_as_user_path(@user), class: 'btn btn-block btn-small btn-warning'

	.span8
		%h3= "#{@user.firstname} #{@user.middlename} #{@user.lastname}"
		.row
			.span2{style: "font-weight: bold;"} Handedness
			.span2= @user.handedness
			.span2{style: "font-weight: bold;"} Gender
			.span2= @user.gender
		.row
			.span2{style: "font-weight: bold;"} Height
			.span2= @user.height_in_feet_and_inches
			.span2{style: "font-weight: bold;"} Weight
			.span2= @user.weight ? "#{@user.weight} pounds" : 'n/a'
		.row
			.span2{style: "font-weight: bold;"} Email Address
			.span6= @user.email_address
		- if @user.phone
			- @user.phone.each do |type,number|
				.row
					.span2{style: "font-weight: bold; text-transform: capitalize;"}= type
					.span6= number
		.row
			.span2{style: "font-weight: bold;"} Street Address
			.span6
				%address= simple_format("#{@user.address}\n#{@user.city}, #{@user.state} #{@user.postal_code}")
		.row
			.span2{style: "font-weight: bold;"} Birthdate
			.span6= @user.birthdate ? "#{@user.birthdate} (#{@user.age} years old)" : 'n/a'
		.row
			.span2{style: "font-weight: bold;"} gRank
			.span2
				- if last_grr = @user.g_rank_results.last
					#{last_grr.score} (#{last_grr.timestamp.strftime('%b %Y')})
				- else
					n/a
			.span4
				- if current_user._id == @user._id
					= link_to 'Update gRank', edit_g_rank_profile_path

- unless @user.teams.empty?
	%h2
		%i.icon-group
		Teams
	%table.table.table-striped.table-condensed
		%thead
			%tr
				%th League
				%th Sport
				%th Team
				%th Rank
				%th Wins
				%th Losses
				%th Pct.
				%th Pt. Diff.
		%tbody
			- @user.teams.each do |team|
				- stats = team.stats
				%tr
					%td= link_to team.league.name, team.league
					%td{style: 'test-transform: capitalize'}= team.league.sport
					%td= link_to team.name, team
					%td= stats ? stats['rank'] : '-'
					%td= stats ? stats['wins'] : '-'
					%td= stats ? stats['losses'] : '-'
					%td= stats ? '%.3f' % (stats['wins'].to_f/(stats['wins']+stats['losses'])) : '-'
					%td= stats ? (stats['point_differential'] ? stats['point_differential'] : '0') : '-'

- unless @user.g_rank_results.empty?
	%h2
		%i.icon-dashboard
		gRank History

	%table.table.table-striped.table-condensed
		%thead
			%tr
				%th Timestamp
				%th Leagues
				%th Rank
		%tbody
			- @user.g_rank_results.each do |grr|
				%tr{id: grr._id}
					%td=grr.timestamp.strftime('%a %b %-d, %Y')
					%td
						- league_links = []
						- grr.registrations.each do |r|
							- next unless r.league
							- league_links << link_to(r.league.name, r.league)
						=raw league_links.join(', ')

					%td=grr.score
