-if (@registration.status != 'active') && (@registration.league.comped? (@registration.new_record? ? current_user : @registration.user))
    .alert.alert-info This registration will be comped by the league

= bootstrap_form_for(@registration, html: { class: 'form-horizontal' }, help: :block) do |f|
    = f.alert_message "Please fix the errors below."
    = f.hidden_field :league_id
    = f.select :gen_availability, [nil, '25%', '50%', '75%', '100%'], label: 'Availability'
    .control-group
        .controls
            = f.check_box :eos_availability, value: 1, label: "Will attend end of season tourney"
    - rank_max = 6 if (@registration.league.sport == 'goaltimate' && @registration.user.gender == 'female')
    - if @registration.league.allow_self_rank?
        = f.select :self_rank, (1..(rank_max || 9)).map(&:to_s), prompt: 'Select a Rank'
    - if permitted_to?(:manage, @registration.league) && @registration.persisted?
        = f.text_field :commish_rank, label: 'League Rank'
    = f.select :player_strength, [nil, 'Runner', 'Thrower', 'Both']
    = f.text_area :notes, rows: 5
    - if @registration.new_record?
        = f.check_box :waiver_accepted, value: 1, label: raw('I have read, understand, and accept the AFDC\'s <a href="http://blog.afdc.com/wp-content/uploads/2012/05/2012-AFDC-Waiver-Minors.pdf">liability waiver</a> and <a href="http://www.afdc.com/refund-policy/">refund policy</a>.')
    = f.actions do
        - if @registration.new_record?
            = f.primary "Register", disable_with: 'Registering...'
        - else
            = f.primary "Update", disable_with: 'Updating...'
