= bootstrap_form_for(@registration, html: { class: 'form-horizontal' }, help: :block) do |f|
    = f.alert_message "Please fix the errors below."
    = f.hidden_field :league_id
    = f.select :availability, [nil, '25%', '50%', '75%', '100%']
    = f.select :self_rank, [nil, '1', '2', '3', '4', '5', '6', '7', '8', '9']
    = f.select :player_strength, [nil, 'Runner', 'Thrower', 'Both']
    = f.text_field :notes
    = f.check_box :waiver_accepted, value: 1, label: raw('I have read, understand, and accept the AFDC\'s <a href="http://blog.afdc.com/wp-content/uploads/2012/05/2012-AFDC-Waiver-Minors.pdf">liability waiver</a>.')
    = f.actions do 
        - if @registration.new_record?
            = f.primary "Register", disable_with: 'Registering...'
        - else
            = f.primary "Update", disable_with: 'Updating...'