- content_for :title, @registration.league.name
= render :partial => '/pageheader', :locals => {subtitle: 'Registration', breadcrumbs: {'Leagues' => leagues_path, @registration.league.name => league_path(@registration.league), "Registration for #{@registration.user.name}" => nil}}

.row
    .span5
        = render :partial => '/league_summary', :locals => {league: @registration.league}

        %h4 Actions
        %div{style: "padding: 5px 10px"}
            - if permitted_to?(:cancel, @registration) && !@registration.new_record? && @registration.status != 'canceled' && @registration.league.registration_open?
                %div{style: "margin-bottom: 5px;"}
                    %button#cancel_button{class: 'btn btn-block btn-warning'}
                        %i.icon.icon-remove-circle
                        Cancel Registration
                        - content_for :page_scripts do
                            :javascript
                                $(function() {
                                    $("#cancel_button").on('click', function(e) {
                                        $("#cancel_dialog").modal({show: true});
                                    });
                                });
                    .modal.hide.fade#cancel_dialog
                        .modal-header
                            %button{type: "button", class: "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"}= raw '&times;'
                            %h3 Cancel Registration
                        .modal-body
                            - if @registration.status == 'active' && @registration.paid == true
                                .alert.alert-warning
                                    We've already collected money from you for this registration.
                                    In order to get a refund, you'll need to email our treasurer directly at treasurer@afdc.com.
                            - else
                                Cancelling your registration will remove you from the league. Once this is done, if you change 
                                your mind, you will need to speak with an administrator to get your registration reset.

                        .modal-footer
                            = form_tag cancel_registration_path(@registration), method: 'PUT' do
                                %button{type: "submit", class: 'btn btn-primary'} Do it!

    .span7
        %h4= @registration.user.name
        %dl.dl-horizontal
            %dt Gender:
            %dd= @registration.user.gender

            %dt Height:
            %dd= @registration.user.height_in_feet_and_inches

            %dt Weight:
            %dd= @registration.user.weight

            %dt Age:
            %dd= @registration.user.age

            %hr

            %h5 League Details:

        = render :partial => '/registrations/form', :locals => {registration: @registration}
