- content_for :title, @registration.league.name
= render :partial => '/pageheader', :locals => {subtitle: 'Registration', breadcrumbs: {'Leagues' => leagues_path, @registration.league.name => league_path(@registration.league), "Registration for #{@registration.user.name}" => nil}}

.row
    .span5
        = render :partial => '/league_summary', :locals => {league: @registration.league}
    .span7
        .row
            .span3
                %h4= @registration.user.name
            .span4
                - if permitted_to? :edit, @registration
                    = link_to "Edit", edit_registration_path(@registration), :class => 'btn'
        %dl.dl-horizontal
            %dt User ID:
            %dd= @registration.user._id
            
            %dt Gender:
            %dd= @registration.gender

            %dt Height:
            %dd= @registration.user.height_in_feet_and_inches

            %dt Weight:
            %dd= @registration.user.weight

            %dt Age:
            %dd= @registration.user.age

            %hr

            %h5 League Details:

            %dt Status:
            %dd= @registration.status

            %dt Paid?
            %dd
                - if @registration.paid
                    %span.label.label-success Yes
                - else
                    %span.label.label-warning No

            %dt Comped?
            %dd
                - if @registration.comped
                    %span.label.label-success Yes
                - else
                    %span.label.label-warning No

            %dt Role:
            %dd= @registration.player_strength

            - if @registration.availability
                %dt Availability:
                %dd= @registration.availability['general']

                %dt End of Season:
                %dd= @registration.eos_availability ? 'Yes' : 'No'

            %hr

            %dt Self Rank:
            %dd= @registration.self_rank || 'n/a'

            %dt gRank:
            %dd=@registration.g_rank || 'n/a'

            %dt League Rank:
            %dd=@registration.commish_rank || 'n/a'

            %dt Official Rank:
            %dd
                %span.label.label-info=@registration.rank || 'n/a'

            %hr

            %dt Pair:
            %dd
                - if @registration.pair_id
                    = @registration.pair.name
                - else
                    n/a

            %dt Signup Time:
            %dd= @registration.signup_timestamp.to_formatted_s(:long)

            - if @registration.notes

                %hr

                %dt Notes:
                %dd &nbsp;
                .well
                    =simple_format(@registration.notes)

            - if @registration.payment_timestamps && @registration.payment_timestamps.count > 0
                %hr
                %h5 Payment Timestamps:
                - @registration.payment_timestamps.keys.each do |k|
                    %dt= "#{k}:"
                    %dd= @registration.payment_timestamps[k].to_formatted_s(:long)

            - if permitted_to? :manage, @registration.league
                %hr
                %h5 Private League Data

                %dt Payment ID:
                %dd= @registration.payment_id

                %dt Paypal Calls:
                %dd= @registration.paypal_responses.count


- if permitted_to? :see_debug, :global
    %h4 @registration
    %pre
        %code.javascript
            - r_json = @registration.as_json
            / =JSON.pretty_generate()


    - content_for :page_scripts do
        = stylesheet_link_tag 'http://yandex.st/highlightjs/7.4/styles/default.min.css'
        = javascript_include_tag 'http://yandex.st/highlightjs/7.4/highlight.min.js'
        :javascript
            hljs.initHighlightingOnLoad();
