- content_for :title, @registration.league.name
= render :partial => '/pageheader', :locals => {subtitle: 'Registration', breadcrumbs: {'Leagues' => leagues_path, @registration.league.name => league_path(@registration.league), "Registration for #{@registration.user.name}" => nil}}
- if current_user && current_user = @registration.user
    .row
        .span12
            .hero-unit
                - case @registration.status
                    - when 'active'
                        %h2
                            = fa_icon 'thumbs-up'
                            You're in!
                        %p
                            You've registered and paid. There's nothing left to do! Enjoy #{@registration.league.name}!
                    - when 'accepted'
                        %h2
                            = fa_icon 'warning-sign'
                            You're Almost Done...
                        %p
                            We haven't received your payment for this league!
                            #{link_to("Click here to pay now!", pay_registration_path(@registration))}
                        - if @registration.acceptance_expires_at
                            %p
                                %em Note:
                                Your registration will expire in approximately
                                %strong
                                    #{distance_of_time_in_words Time.now, @registration.acceptance_expires_at}. 
                                After that, you'll be put on the wait list and may not get a chance to play.
                    - when 'waitlisted'
                        %h2
                            = fa_icon 'time'
                            You're on the wait list
                        %p
                            The league is currently full, but we'll notify you if a spot opens up!
                    - else
                        %h2 Registration Status: '#{@registration.status}'

.row
    .span5
        = render :partial => '/league_summary', :locals => {league: @registration.league}
    .span7
        .row
            .span3
                %h4= @registration.user.name
            .span4
                - if permitted_to? :edit, @registration
                    = link_to "Edit", edit_registration_path(@registration), :class => 'btn'
        %dl.dl-horizontal
            %dt User ID:
            %dd= link_to @registration.user._id, @registration.user

            %dt Gender:
            %dd= @registration.gender

            %dt Height:
            %dd= @registration.user.height_in_feet_and_inches

            %dt Weight:
            %dd= @registration.user.weight

            %dt Age:
            %dd= @registration.user.age

            %dt T-Shirt Size:
            %dd= @registration.shirt_size

            %hr

            %h5 League Details:

            %dt Status:
            %dd= @registration.status

            %dt Role:
            %dd= @registration.player_strength

            - if @registration.availability
                %dt Availability:
                %dd= @registration.availability['general']

                %dt End of Season:
                %dd= @registration.eos_availability ? 'Yes' : 'No'

            %hr

            %dt Self Rank:
            %dd= @registration.self_rank || 'n/a'

            %dt gRank:
            %dd=@registration.g_rank || 'n/a'

            %dt League Rank:
            %dd=@registration.commish_rank || 'n/a'

            %dt Official Rank:
            %dd
                %span.label.label-info=@registration.rank || 'n/a'

            %hr

            %dt Pair:
            %dd
                - if @registration.pair_id
                    = @registration.pair.name
                - else
                    n/a

            %dt Signup Time:
            %dd= @registration.signup_timestamp.to_formatted_s(:long)

            - if @registration.notes

                %hr

                %dt Notes:
                %dd &nbsp;
                .well
                    =simple_format(@registration.notes)

            - if @registration.payment_timestamps && @registration.payment_timestamps.count > 0
                %hr
                %h5 Payment Timestamps:
                - @registration.payment_timestamps.keys.each do |k|
                    %dt= "#{k}:"
                    %dd= @registration.payment_timestamps[k].to_formatted_s(:long)

            - if permitted_to? :manage, @registration.league
                %hr
                %h5 Private League Data

                %dt Payment ID:
                %dd= @registration.payment_id

    - content_for :page_scripts do
        = stylesheet_link_tag 'https://yandex.st/highlightjs/7.4/styles/default.min.css'
        = javascript_include_tag 'https://yandex.st/highlightjs/7.4/highlight.min.js'
        :javascript
            hljs.initHighlightingOnLoad();
