- content_for :title, "AFDC Fields"
= render partial: '/pageheader', locals: {subtitle: '', breadcrumbs: {'Fields' => fields_path, @field.name => nil}}

.row
    .span4.offset2
        %h3{id: 'fieldsite', data: {lat: @field.latitude, lng: @field.longitude, id: @field._id}}=@field.name

.row
    .span6
        .row
            .span2{style: 'font-weight: bold'} Directions:
            .span4= simple_format @field.directions
    .span6
        %h4#mapHeader Map to the Field
        .google-map#map

= render :partial => '/game_schedule', :locals => {start_date: Date.today, fieldsite_id: @field._id, title: 'Upcoming Games'}

- content_for :page_scripts do
    = javascript_include_tag "/javascripts/FieldViewMap.js?v=3"
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['google_maps_api_token']}&loading=async&callback=initFieldViewMap"
