- limit = 0 if local_assigns[:limit].nil?
- label = fieldname if local_assigns[:label].nil?
- if local_assigns[:form].nil? == false
	- fieldname = "#{form.object_name}[#{fieldname}]"
.control-group.user-multi-select{"data-field-name" => fieldname, "data-user-limit" => "#{limit}"}
	%label.control-label{style: 'text-transform: capitalize'}= label
	.controls
		.user-list
			- users.each do |u|
				- next unless u
				%div
					%input{type: 'hidden', name: "#{fieldname}[]", value: u._id}
					%span.span3.uneditable-input= "#{u.firstname} #{u.lastname}"
					=link_to '#remove', class: 'remove' do
						%i.icon-remove{style: 'color: #555555;'}
		%input.span3.new-user{type: 'text'}
			%i.icon-plus


- content_for :page_scripts do
	= javascript_include_tag '/javascripts/jquery.autocomplete.js'
	= javascript_include_tag '/javascripts/userSelector.js'

- content_for :page_styles do
	= stylesheet_link_tag '/stylesheets/autocomplete.css'
